body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p, #practice {
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 4s steps(30), blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
